<%= form_with(model: question, class: "contents") do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul class="list-disc ml-6">
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :key %>
    <%= form.text_field :key, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": question.errors[:key].none?, "border-red-400 focus:outline-red-600": question.errors[:key].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :text %>
    <%= form.text_field :text, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": question.errors[:text].none?, "border-red-400 focus:outline-red-600": question.errors[:text].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.text_field :type, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": question.errors[:type].none?, "border-red-400 focus:outline-red-600": question.errors[:type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :questionable_id %>
    <%= form.text_field :questionable_id, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": question.errors[:questionable_id].none?, "border-red-400 focus:outline-red-600": question.errors[:questionable_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-lg px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
