<div id="<%= dom_id question %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Key:</strong>
    <%= question.key %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Text:</strong>
    <%= question.text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Type:</strong>
    <%= question.type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Questionable:</strong>
    <%= question.questionable_id %>
  </div>
</div>
