<% content_for :title, "Call to Audition" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)],
      ["Call to Audition", edit_production_call_to_audition_path(@production, @call_to_audition)],
      ["Custom Questions", production_call_to_audition_questions_path(@production, @call_to_audition)]
    ],
    text: "Edit Question",
    links: []
  } %>

  <%= form_with(model: [@production, @call_to_audition, @question], class: "contents") do |form| %>
    <% if @question.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @question.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-2">
      <%= form.label :text, "Question Text" %>
      <%= form.text_field :text, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @question.errors[:text].none?, "border-red-400 focus:outline-red-600": @question.errors[:text].any?}] %>
    </div>

    <div data-controller="form-toggle">

      <div class="my-2 sm:my-5 sm:w-64">
        <%= form.label :question_type, "Question Type" %>
        <%= form.select :question_type,
          [["Text", "text"], ["Yes/No", "yesno"], ["Select Multiple Options", "multiple-multiple"], ["Select Single Option", "multiple-single"]],
          {},
          { class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @question.errors[:question_type].none?, "border-red-400 focus:outline-red-600": @question.errors[:question_type].any?}],
            data: { "form-toggle-target": "select", action: "change->form-toggle#toggle"}
          } %>
      </div>

      <div data-form-toggle-target="section" data-toggle-value="multiple" class="hidden">
        <%= render partial: "multiple_options", locals: { form: form } %>
      </div>

    </div>

    <div class="w-full border-t border-gray-200 pt-5 my-5">
      <%= form.submit "Update Question", class: "w-full sm:w-auto rounded-lg px-3.5 py-2.5 bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to "Back", production_call_to_audition_questions_path(@production, @call_to_audition), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>
  <% end %>


</div>
