<div id="<%= dom_id person %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Stage name:</strong>
    <%= person.stage_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= person.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Pronouns:</strong>
    <%= person.pronouns %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Socials:</strong>
    <%= person.socials %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Resume:</strong>
    <%= link_to "Click to download", person.resume %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Headshot:</strong>
    <%= image_tag url_for(person.headshot) %>
  </div>
  
</div>
