<% content_for :title, "Edit Person" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["People", people_path],
      [@person.stage_name, person_path(@person)]
    ],
    text: "Edit Person",
    links: []
  } %>

  <div class="w-full max-w-4xl" >
    <%= form_with(model: @person, class: "contents") do |person_form| %>
      <%= render "shared/person_form", person_form: person_form %>

      <div class="w-full border-t border-gray-200 pt-5 my-5">
        <%= person_form.submit "Update Person", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800inline-block font-medium cursor-pointer inline-block" %>
        <%= link_to "Back", 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      </div>

    <% end %>
  </div>

</div>
