<% content_for :title, "People" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [],
    text: "People",
    links: [
      { text: "+ Add a Person", path: new_person_path }
    ]
  } %>

  <div class="relative flex w-full flex-col rounded-lg border border-slate-200 bg-white shadow-sm">
    <div class="flex min-w-[240px] flex-col gap-1 p-1.5">
      <% if @people.any? %>
        <% @people.each do |person| %>
          <%= link_to person_path(person) do %>
            <div class="text-slate-800 flex w-full items-center rounded-lg p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
              <div class="mr-4 grid place-items-center">
                <% if person.headshot.attached? %>
                  <%= image_tag url_for(person.headshot), class: "relative inline-block h-12 w-12 !rounded-full object-cover object-center" %>
                <% else %>
                  <div class="relative inline-block h-12 w-12 rounded-full bg-gray-200">
                    <svg class="absolute left-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                    </svg>
                  </div>
                <% end %>
              </div>
              <div>
                <h6 class="font-medium text-xl">
                  <%= truncate(person.stage_name, length: 50, omission: "...") %>
                  <% if person.pronouns.present? %>
                    <span class="text-slate-500 text-sm">(<%= person.pronouns %>)</span>
                  <% end %>
                </h6>
                <p class="text-slate-500 text-sm">
                  <%= person.email %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p class="text-center my-10">No people found.</p>
      <% end %>
    </div>
  </div>
</div>
