<%= form_with(model: audition, class: "contents") do |form| %>
  <% if audition.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(audition.errors.count, "error") %> prohibited this audition from being saved:</h2>

      <ul class="list-disc ml-6">
        <% audition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :audition_session %>
    <%= form.collection_select :audition_session_id, AuditionSession.all, :id, :display_name, prompt: "Select an Audition Session" %>
  </div>

  <div class="my-5">
    <%= form.label :audition_request %>
    <%= form.collection_select :audition_request_id, AuditionRequest.all, :id, :display_name, prompt: "Select an Audition Request" %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
