<%
    if audition_session.is_full?
        border_color = "border-green-400 border-solid"
    elsif audition_session.is_overbooked?
        border_color = "border-red-400 border-solid"
    else
        border_color = "border-pink-300 border-dashed"
    end
%>

<div class="col-span-2">
    <div class="border-4 <%= border_color %> border-dashed p-4 min-h-24 items-center flex justify-center relative rounded-lg"
        data-drag-target="dropzone"
        data-id="<%= audition_session.id %>"
        data-action="dragover->drag#dragOver drop->drag#drop"
    >
        <% if audition_session.auditions.any? %>
            <div class="grid grid-cols-6 gap-1 w-full">
                <% audition_session.auditions.each do |audition| %>
                    <div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
                        <%= image_tag audition.person.headshot.variant(:thumb), alt: audition.person.stage_name, class: "w-10 h-10 rounded-lg object-cover mb-1" if audition.person.headshot.present? %>
                        <span class="font-medium text-xs text-center"><%= audition.person.stage_name.truncate(20, omission: '...') %></span>
                    </div>
                <% end %>

                <% if (!audition_session.is_full? && !audition_session.is_overbooked?) %>
                    <span class="inline-flex items-center text-xs text-gray-400 h-full text-center ml-2">
                        <div class="flex flex-col items-center justify-center">
                            Add up to<br><%= audition_session.maximum_auditionees - audition_session.auditions.count %> more
                        </div>
                    </span>
                <% end %>
            </div>
        <% else %>
            <div class="text-gray-400 text-xs">Drag an Auditionee here to schedule them in this session</div>
        <% end %>

    </div>
</div>