<%
    if audition_session.is_full?
        border_color = "border-green-400 border-solid"
    elsif audition_session.is_overbooked?
        border_color = "border-red-400 border-solid"
    else
        border_color = "border-pink-300 border-dashed"
    end
%>

<div class="col-span-3">
    <div class="border-4 <%= border_color %> border-dashed p-4 min-h-24 items-center flex justify-center relative rounded-lg"
        data-drag-target="dropzone"
        data-id="<%= audition_session.id %>"
        data-action="dragover->drag#dragOver drop->drag#drop"
    >
        <% if audition_session.auditions.any? %>
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-6 gap-1 w-full">
                <% audition_session.auditions.each do |audition| %>
                        <div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all relative group" data-audition-id="<%= audition.id %>">
                            <% if audition.person.headshot.present? %>
                                <%= image_tag audition.person.headshot.variant(:thumb), alt: audition.person.stage_name, class: "w-10 h-10 rounded-lg object-cover mb-1" %>
                            <% end %>
                            <span class="font-medium text-xs text-center"><%= audition.person.stage_name.truncate(20, omission: '...') %></span>
                            <button type="button"
                                class="absolute bottom-2 left-2 right-2 z-20 text-pink-500 bg-white rounded-md px-2 py-1 text-xs font-bold shadow hover:bg-pink-100 transition-all border border-pink-200 opacity-0 group-hover:opacity-100 cursor-pointer"
                                data-action="click->drag#removeAudition"
                                data-audition-id="<%= audition.id %>"
                                data-session-id="<%= audition_session.id %>">
                                Remove
                            </button>
                        </div>
                <% end %>

                <% if (!audition_session.is_full? && !audition_session.is_overbooked?) %>
                    <span class="inline-flex items-center text-xs text-gray-400 h-full text-center ml-2">
                        <div class="flex flex-col items-center justify-center">
                            Add up to<br><%= audition_session.maximum_auditionees - audition_session.auditions.count %> more
                        </div>
                    </span>
                <% end %>
            </div>
        <% else %>
            <div class="text-gray-400 text-xs">Drag an Auditionee here to schedule them in this session</div>
        <% end %>

    </div>
</div>