<%= form_with(model: audition_session, class: "contents") do |form| %>
  <% if audition_session.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(audition_session.errors.count, "error") %> prohibited this audition_session from being saved:</h2>

      <ul class="list-disc ml-6">
        <% audition_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :call_to_audition_id %>
    <%= form.collection_select :call_to_audition_id, CallToAudition.all, :id, :production_name, prompt: "Select a Call to Audition" %>
  </div>

  <div class="my-5">
    <%= form.label :date_and_time %>
    <%= form.datetime_field :date_and_time, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": audition_session.errors[:date_and_time].none?, "border-red-400 focus:outline-red-600": audition_session.errors[:date_and_time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :maximum_auditionees %>
    <%= form.number_field :maximum_auditionees, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": audition_session.errors[:date_and_time].none?, "border-red-400 focus:outline-red-600": audition_session.errors[:date_and_time].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
