<div class="p-4 rounded-lg border border-gray-200" id="left_panel">

    <h2 class="font-semibold text-lg mb-3">Audition Requests</h2>

    <div class="flex space-x-2 mb-4">
        <%= link_to "To Be Scheduled",
                production_audition_sessions_path(production, filter: "to_be_scheduled"),
                data: { turbo_prefetch: false },
                class: "px-3 py-1 rounded-md border text-sm #{(filter.blank? || filter == "to_be_scheduled") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-300'}"
        %>
        <%= link_to "All Accepted",
                production_audition_sessions_path(production, filter: "accepted"),
                data: { turbo_prefetch: false },
                class: "px-3 py-1 rounded-md border text-sm #{(filter == "accepted") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-300'}"
        %>
        <%= link_to "All Requests",
                production_audition_sessions_path(production, filter: "all"),
                data: { turbo_prefetch: false },
                class: "px-3 py-1 rounded-md border text-sm #{(filter == "all") ? 'bg-pink-500 text-white border-pink-500' : 'bg-white text-gray-700 border-gray-300'}"
        %>
    </div>

    <% if production.audition_requests(filter: filter || "to_be_scheduled").any? %>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
            <% production.audition_requests(filter: filter || "to_be_scheduled").each do |audition_request| %>

                <% scheduled = audition_request.scheduled_in_any?(production.audition_sessions) %>

                <div
                    class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all cursor-grab bg-[#f9f9f7]"
                    data-drag-target="item" data-id="<%= audition_request.id %>" draggable="true" data-action="dragstart->drag#dragStart"
                >
                    <% if audition_request.person.headshot.present? %>
                      <%= image_tag audition_request.person.headshot.variant(:thumb), alt: audition_request.person.stage_name, class: "w-10 h-10 rounded-lg object-cover mb-1 #{'opacity-40' if scheduled}", draggable: false %>
                    <% end %>
                    <span class="font-medium text-xs text-center <%= 'text-gray-300' if scheduled %>"><%= audition_request.person.stage_name.truncate(20, omission: '...') %></span>
                </div>
            <% end %>
        </div>
    <% else %>
        <% if filter == "to_be_scheduled" %>
            <p class="text-gray-500 text-sm">All Accepted audition requests have been scheduled.</p>
        <% else %>
            <p class="text-gray-500 text-sm">No audition requests.</p>
        <% end %>
    <% end %>
</div>