<% content_for :title, "Schedule an Audition Session" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)]
    ],
    text: "Audition Sessions",
    links: [
      {
        text: "+ Schedule an Audition Session",
        path: new_production_audition_session_path(@production)
      }
    ]
  } %>

  <div id="audition_sessions" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @audition_sessions.any? %>
      <% @audition_sessions.each do |audition_session| %>
        <div class="p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all grid grid-cols-3 items-center">
          <div class="text-md col-span-2">
            <p><%= audition_session.start_at.strftime("%-m/%-d/%Y at %-l:%M %p") %></p>
            <div>
              <%= link_to "Reschedule", edit_production_audition_session_path(@production, audition_session), class: "text-xs text-pink-500 underline" %>
              <%= link_to "Duplicate", new_production_audition_session_path(@production, duplicate: audition_session), class: "ml-1 text-xs text-pink-500 underline" %>
              <%= link_to "Cancel", production_audition_session_path(@production, audition_session), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this audition session?" }, class: "ml-1 text-xs text-pink-500 underline" %>
            </div>
          </div>
          <p class="font-bold text-2xl text-right"><%= "x/#{audition_session.maximum_auditionees}" %></p>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No audition sessions found.</p>
    <% end %>
  </div>
</div>
