<% content_for :title, "Schedule an Audition Session" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)]
    ],
    text: "Audition Sessions",
    links: [
      {
        text: "+ Schedule an Audition Session",
        path: new_production_audition_session_path(@production)
      }
    ]
  } %>

  <div id="audition_sessions" class="min-w-full divide-y divide-gray-200 space-y-5" data-controller="drag">

    <div class="grid grid-cols-5 gap-6">
      <div class="col-span-2">
        <%= render partial: "audition_sessions/left_list", locals: { production: @production, filter: (params[:filter] || session[:audition_request_filter] || "to_be_scheduled") } %>
      </div>

      <div class="col-span-3 id="audition_sessions">
        <% if @audition_sessions.any? %>
          <% @audition_sessions.each do |audition_session| %>
            <div class="p-3 mb-1 border border-gray-200 rounded-lg hover:border-gray-400 transition-all grid grid-cols-4">
              <div class="text-md col-span-1 pr-10">
                <p class="text-lg font-bold"><%= audition_session.start_at.strftime("%-m/%-d/%Y at %-l:%M %p") %></p>
                <div class="">
                  <div class="flex flex-col space-y-1">
                    <%= link_to "Reschedule", edit_production_audition_session_path(@production, audition_session), class: "text-xs text-pink-500 underline" %>
                    <%= link_to "Unschedule/Cancel", production_audition_session_path(@production, audition_session), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this audition session?" }, class: "text-xs text-pink-500 underline" %>
                    <%= link_to "Duplicate", new_production_audition_session_path(@production, duplicate: audition_session), class: "text-xs text-pink-500 underline" %>
                    <%= link_to "View", production_audition_session_path(@production, audition_session), class: "text-xs text-pink-500 underline" %>
                  </div>

                </div>
              </div>

              <%= render partial: "audition_sessions/dropzone", locals: { audition_session: audition_session } %>
            </div>
          <% end %>
        <% else %>
          <p class="text-center text-sm my-10">No audition sessions found. <%= link_to "+ Schedule an Audition Session", new_production_audition_session_path(@production), class: "text-pink-500 underline" %></p>
        <% end %>

      </div>

    </div>
  </div>
</div>
