<% content_for :title, "Schedule an Audition Session" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Auditions", production_auditions_path(@production)],
      ["Audition Sessions", production_audition_sessions_path(@production)]
    ],
    text: "Schedule an Audition Session",
    links: []
  } %>

  <%= form_with(model: [@production, @audition_session], class: "contents") do |form| %>
    <% if @audition_session.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@audition_session.errors.count, "error") %> prohibited this audition_session from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @audition_session.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5 ">
      <%= form.label :start_at, "Start Session At" %>
      <%= form.datetime_field :start_at, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-64", {"border-gray-400 focus:outline-blue-600": @audition_session.errors[:start_at].none?, "border-red-400 focus:outline-red-600": @audition_session.errors[:start_at].any?}] %>
    </div>

    <div class="my-5">
      <%= form.label :maximum_auditionees, "Maximum # of Auditionees" %>
      <p class="text-sm text-gray-500">Set the maximum number of auditionees this session should have. Leave blank for unlimited.</p>
      <%= form.number_field :maximum_auditionees, min: 1, class: ["block w-24 shadow-sm rounded-lg border px-3 py-2 mt-2", {"border-gray-400 focus:outline-blue-600": @audition_session.errors[:maximum_auditionees].none?, "border-red-400 focus:outline-red-600": @audition_session.errors[:maximum_auditionees].any?}] %>
    </div>

    <div class="w-full border-t border-gray-200 pt-5 my-5">
      <%= form.submit "Schedule Session", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800inline-block font-medium cursor-pointer inline-block" %>
      <%= link_to "Back", 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>
  <% end %>

</div>
