<% content_for :title, "Schedule an Audition Session" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>


  <% if @audition.nil? %>

    <%= render partial: "shared/top_menu", locals: {
        breadcrumbs: [
          ["Productions", productions_path],
          [@production.name, production_path(@production)]
        ],
        text: "Audition Sessions",
        links: [
          {
            text: "Manage Audition Sessions",
            path: production_audition_sessions_path(@production)
          }
        ]
      }
    %>

    <div class="w-full h-full flex items-center justify-center text-center text-sm text-gray-500" style="min-height: 60vh;">
      Select an auditionee below to view their Audition Request
    </div>

  <% else %>

    <%= render partial: "shared/top_menu", locals: {
        breadcrumbs: [
          ["Productions", productions_path],
          [@production.name, production_path(@production)],
          ["Audition Sessions", production_audition_sessions_path(@production)]
        ],
        text: "#{@person.stage_name}",
        links: [
          {
            text: "Manage Audition Sessions",
            path: production_audition_sessions_path(@production)
          }
        ]
      }
    %>

    <div id="<%= dom_id @audition_session %>" class="w-full sm:w-auto my-5 space-y-5 mb-30">
      <div class="flex flex-col sm:flex-row w-full gap-6">
        <div class="w-full sm:w-[60%] h-screen bg-gray-100">
          <% if @person.resume.attached? %>
            <embed src="<%= url_for(@person.resume) %>" type="application/pdf" width="100%" height="100%" />
          <% end %>
        </div>
        <div class="w-full sm:w-[40%] flex flex-col">

          <%= render "shared/person_card", person: @person, show_delete: false %>

          <% if @answers.any? %>
            <% @answers.each do |answer| %>
              <div class="p-2 border border-gray-200 rounded-lg hover:border-gray-400 transition-all mt-2">
                <div class="text-md"><%= answer.question.text %></div>
                <div class="text-md font-medium">
                  <% if answer.question.question_type == "yesno" %>
                    <%= answer.value.capitalize %>
                  <% elsif answer.question.question_type == "multiple-multiple" %>
                    <% answer.value_as_array.each do |value| %>
                      <div class="inline-block mb-1 px-2 bg-pink-100 rounded-lg"><%= value %></div>
                    <% end %>
                  <% elsif answer.question.question_type == "multiple-single" %>
                    <div class="inline-block mb-1 px-2 bg-pink-100 rounded-lg"><%= answer.value %></div>
                  <% else %>
                    <%= answer.value %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>

  <% end %>

</div>

<div class="fixed bottom-0 left-0 h-21 w-full bg-white text-pink-500 p-2 border-t-4 border-pink-400 pl-56">

  <div class="flex justify-center">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-6 gap-1 w-auto">
      <% @audition_session.auditions.each do |audition| %>
        <%= link_to production_audition_session_audition_path(@production, @audition_session, audition), class: "flex flex-col items-center rounded-lg border border-gray-200 hover:bg-gray-100 p-3" do %>
          <% if audition.person.headshot.present? %>
            <%= image_tag audition.person.headshot.variant(:thumb), alt: audition.person.stage_name, class: "w-10 h-10 rounded-lg object-cover" %>
          <% else %>
            <div class="w-10 h-10 rounded-lg bg-gray-300 flex items-center justify-center mb-1 text-white font-bold">
              <%= audition.person.initials %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


</div>