<% content_for :title, "Schedule an Audition Session" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Auditions", production_auditions_path(@production)],
      ["Audition Sessions", production_audition_sessions_path(@production)]
    ],
    text: "Summary",
    links: []
  } %>

  <div id="audition_sessions" class="min-w-full divide-y divide-gray-200 space-y-5" data-controller="drag">

    <div class="p-3 mb-1 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
      <% if @audition_sessions.any? %>
        <% @audition_sessions.each do |audition_session| %>
          <div class="border-b border-gray-200 pb-4 mb-4">
            <div class="text-lg font-bold col-span-4 pr-10 w-full">
              <%= audition_session.start_at.strftime("%-m/%-d/%Y at %-l:%M %p") %>
            </div>

            <% if audition_session.auditions.any? %>
              <div class="w-full">
                <b>Names:</b>
                <% len = audition_session.auditions.length %>
                <% audition_session.auditions.each_with_index do |audition, i| %>
                  <%= audition.person.stage_name %><%= i == len - 1 ? "" : ", " %>
                <% end %>
              </div>

              <div class="w-full">
                <b>Emails:</b>
                <% len = audition_session.auditions.length %>
                <% audition_session.auditions.each_with_index do |audition, i| %>
                  <%= audition.person.email %><%= i == len - 1 ? "" : ", " %>
                <% end %>
              </div>

            <% else %>
              <div class="w-full">
                <p class="text-sm text-gray-500">No Auditions scheduled.</p>
              </div>
            <% end %>

          </div>
        <% end %>

        <% auditioned_person_ids = @audition_sessions.flat_map { |s| s.auditions.map(&:person_id) }.uniq %>
        <% unassigned_requests = @production.audition_requests(filter: "all").reject { |req| auditioned_person_ids.include?(req.person_id) } %>
        <% if unassigned_requests.any? %>
          <div class="pb-4 mb-4">
            <div class="text-lg font-bold col-span-4 pr-10 w-full">
              Not selected for an audition:
            </div>

            <div class="w-full">
              <b>Names:</b>
              <% len = unassigned_requests.length %>
              <% unassigned_requests.each_with_index do |request, i| %>
                <%= request.person.stage_name %><%= i == len - 1 ? "" : ", " %>
              <% end %>
            </div>

            <div class="w-full">
              <b>Emails:</b>
              <% len = unassigned_requests.length %>
              <% unassigned_requests.each_with_index do |request, i| %>
                <%= request.person.email %><%= i == len - 1 ? "" : ", " %>
              <% end %>
            </div>

          </div>
        <% else %>
          <div class="w-full">
            <p class="text-sm text-gray-500">Everyone who requested an audition was scheduled for one.</p>
          </div>
        <% end %>

      <% else %>
        <p class="text-center text-sm my-10">No audition sessions found. <%= link_to "+ Schedule an Audition Session", new_production_audition_session_path(@production), class: "text-pink-500 underline" %></p>
      <% end %>


    </div>
  </div>
</div>
