<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= @production.name %></h1>
  <h2 class="font-bold text-2xl">Audition sign-up form</h2>

  <% if @call_to_audition.header_text.present? %>
    <div class="">
      <%= @call_to_audition.header_text %>
    </div>
  <% end %>

  <%= form_with(model: @audition_request, url: handle_respond_to_call_to_audition_path(@call_to_audition.hex_code), method: :post, class: "contents") do |form| %>
    
    <% if @audition_request.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(@audition_request.errors.count, "error") %> prohibited this audition_request from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @audition_request.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.fields_for :person do |person_form| %>
      <div class="my-5">
        <%= person_form.label :email %>
        <%= person_form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @person.errors[:email].none?, "border-red-400 focus:outline-red-600": @person.errors[:email].any?}] %>
      </div>

      <div class="my-5">
        <%= person_form.label :stage_name %>
        <%= person_form.text_field :stage_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @person.errors[:stage_name].none?, "border-red-400 focus:outline-red-600": @person.errors[:stage_name].any?}] %>
      </div>

      <div class="my-5">
        <%= person_form.label :pronouns %>
        <%= person_form.text_field :pronouns, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @person.errors[:pronouns].none?, "border-red-400 focus:outline-red-600": @person.errors[:pronouns].any?}] %>
      </div>

      <div class="my-5">
        <%= person_form.label :socials %>
        <%= person_form.text_field :socials, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @person.errors[:socials].none?, "border-red-400 focus:outline-red-600": @person.errors[:socials].any?}] %>
      </div>

      <div class="my-5">
        <%= person_form.label :resume %>
        <%= person_form.file_field :resume %>
      </div>

      <div class="my-5">
        <%= person_form.label :headshot %>
        <%= person_form.file_field :headshot %>
      </div>
    <% end %>

  <div class="inline">
    <%= form.submit "Submit", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
  
  <% end %>

</div>
