
<nav class="w-56 bg-white border-r border-r-2 border-gray-200 flex flex-col transition-all duration-200 ease-in-out z-20 justify-between fixed left-0 top-0 h-screen">
  <div>

    <%= link_to root_path, class: "mb-2" do %>
      <h1 class="p-5 pb-3 text-3xl coustard-regular text-pink-500">CocoScout</h1>
    <% end %>

    <div>
      <%= link_to "Productions", productions_path, class: "flex items-center gap-3 px-5 py-2 hover:bg-pink-500 hover:text-white transition-all font-medium" %>

      <% if @production.present? %>
        <div> <%= @production.name %> </div>
        <%= link_to "Shows", production_shows_path(@production), class: "block px-5 py-2 hover:bg-pink-100 hover:text-pink-700 transition-all text-sm" %>
        <%= link_to "Casting", production_casts_path(@production), class: "block px-5 py-2 hover:bg-pink-100 hover:text-pink-700 transition-all text-sm" %>
        <%= link_to "Roles", production_roles_path(@production), class: "block px-5 py-2 hover:bg-pink-100 hover:text-pink-700 transition-all text-sm" %>
        <%= link_to "Auditions", production_auditions_path(@production), class: "block px-5 py-2 hover:bg-pink-100 hover:text-pink-700 transition-all text-sm" %>
      <% end %>


      <%= link_to "People", people_path, class: "flex items-center gap-3 px-5 py-2 hover:bg-pink-500 hover:text-white transition-all font-medium" %>
    </div>

  </div>

  <!-- Bottom section -->
  <div>

    <div class="flex justify-center">
      <%= image_tag "cocoscout.png", alt: "CocoScout Logo", class: "w-32" %>
    </div>

    <div class="px-4 py-6 border-t-4 border-pink-400 text-xs text-gray-500">
      <% if Current.user %>
        <div class="font-semibold text-gray-700 truncate"><%= Current.user.email_address %></div>
        <% if @production %>
          <div class="font-medium text-gray-700"><%= @production.name %></div>
        <% end %>
      <% else %>
        <div class="italic">Not signed in</div>
      <% end %>
    </div>

  </div>

</nav>