<% content_for :title, "Showing production" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path]
    ],
    text: @production.name,
    links: [
      { text: "Edit", path: edit_production_path(@production) }
    ]
  } %>

  <div class="mb-10">
    <%= @production.description %>
  </div>

  <div class="flex items-top justify-between ">
    <h1 class="font-bold text-xl mb-2">Scheduled Shows</h1>
    <%= render partial: "shared/link_button", locals: {text: "Schedule a Show", path: new_production_show_path(@production)} %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 md:gap-2 lg:gap-4 mb-10">
    <% @production.shows.order(:date_and_time).each do |show| %>
      <%= link_to production_show_path(@production, show) do %>
        <div class="p-4 border border-gray-200 rounded-md hover:border-gray-400 transition-all">
          <p class="font-bold text-md"><%= show.date_and_time.strftime("%A, %B %-d, %Y") %></p>
          <p class="font-bold text-md mt-1"><%= show.date_and_time.strftime("%l:%M %p") %></p>

          <% if show.secondary_name.present? %>
            <p class="font-bold text-2xl mb-3"><%= show.secondary_name %></p>
          <% end %>

        </div>
      <% end %>
    <% end %>
  </div>

  <div class="w-full">
    <h1 class="font-bold text-xl mb-2">Auditions</h1>

    <% if !@production.call_to_auditions.any? %>
      <div class="mb-5">
        You don&apos;t currently have any open Calls to Audition for this production.
      </div>
      <%= render partial: "shared/link_button", locals: {text: "Open a Call to Audition", path: new_production_call_to_audition_path(@production)} %>
    <% end %>
  </div>

  <div class="w-full">

    <% @production.call_to_auditions.order(:opens_at).each do |call_to_audition| %>
      <div class="p-4 border border-gray-200 rounded-md hover:border-gray-400 transition-all">

        <h2 class="font-bold text-xl col-span-1 mb-2">Call to Audition</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 md:gap-2 lg:gap-4">

          <div class="p-3 pb-6 border border-gray-200 rounded-md hover:border-gray-400 transition-all">
            <p class="mb-3">
              You currently have an open Call to Audition that began
              on <b><%= call_to_audition.opens_at.strftime("%B %-d, %Y") %></b> and
              closes on <b><%= call_to_audition.closes_at.strftime("%B %-d, %Y") %></b>
            </p>
            <%= render partial: "shared/link_button", locals: {text: "Edit Call to Audition", path: edit_production_call_to_audition_path(@production, call_to_audition)} %>
          </div>


        </div>
      </div>
    <% end %>
  </div>




</div>
