<% content_for :title, @production.name %>
<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path]
    ],
    text: @production.name,
    links: [
      { text: "Edit", path: edit_production_path(@production) }
    ]
  } %>
  <div class="mb-10">
    <%= @production.description %>
  </div>
  <div class="flex items-top justify-between ">
    <h1 class="font-bold text-2xl mb-2">Scheduled Shows</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 md:gap-2 lg:gap-4">
    <% @production.shows.order(:date_and_time).each do |show| %>
      <%= link_to production_show_path(@production, show) do %>
        <div class="p-4 min-h-24 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
          <p class="font-bold text-md"><%= show.date_and_time.strftime("%A, %B %-d, %Y") %></p>
          <p class="font-bold text-md mt-1"><%= show.date_and_time.strftime("%l:%M %p") %></p>
          <% if show.secondary_name.present? %>
            <p class="font-bold text-2xl"><%= show.secondary_name %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= link_to new_production_show_path(@production) do %>
      <div class="flex min-h-24 bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg items-center">
        <p class="text-center text-sm text-white w-full">+ Schedule a Show</p>
      </div>
    <% end %>
  </div>
  <div class="w-full mt-10">
    <h1 class="font-bold text-2xl">Call to Audition</h1>
    <% if !@production.call_to_auditions.any? %>
      <div class="mb-5">
        You don&apos;t currently have any open Calls to Audition for this production.
      </div>
      <%= render partial: "shared/link_button", locals: {text: "Open a Call to Audition", path: new_production_call_to_audition_path(@production)} %>
    <% end %>
  </div>
  <div class="w-full">
    <% @production.call_to_auditions.order(:opens_at).each do |call_to_audition| %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-1 md:gap-4">

        <div class="p-4 pb-6 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
          <p class="mb-2">

            <% if call_to_audition.timeline_status == :upcoming %>
              You've scheduled your Call to Audition to open
              on <b><%= call_to_audition.opens_at.strftime("%B %-d, %Y") %></b> and
              close on <b><%= call_to_audition.closes_at.strftime("%B %-d, %Y") %></b>.
            <% elsif call_to_audition.timeline_status == :open %>
              Your Call to Audition has been open since
              <b><%= call_to_audition.opens_at.strftime("%B %-d, %Y") %></b> and
              will close on <b><%= call_to_audition.closes_at.strftime("%B %-d, %Y") %></b>.
            <% else %>
              Your Call to Audition began
              on <b><%= call_to_audition.opens_at.strftime("%B %-d, %Y") %></b> and
              closed on <b><%= call_to_audition.closes_at.strftime("%B %-d, %Y") %></b>.
            <% end %>

          </p>

          <h2 class="font-bold text-lg col-span-1 mb-2 border-t-2 border-gray-200 pt-3 mt-5">Sign-up Form</h2>
          <div>
            <div class="w-full flex items-center mx-auto" data-controller="clipboard">
              <%= text_field_tag "", call_to_audition.respond_url, class: "block w-64 text-sm text-black bg-white shadow-sm rounded-lg border px-3 py-2 w-full border-gray-400", disabled: true, data: { clipboard_target: "textField" } %>
              <p class="ml-1 font-medium rounded-lg text-sm px-2 py-1 h-9 text-center mb-0 inline-block bg-pink-500 text-white hover:bg-gray-100 hover:text-pink-500 focus:ring-4 focus:outline-none focus:ring-gray-200 cursor-pointer" data-action="click->clipboard#copy">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                </svg>
              </p>
            </div>
            <div class="mt-2">
              <%= render partial: "shared/link_button", locals: {text: "Edit Form", path: edit_production_call_to_audition_path(@production, call_to_audition)} %>
              <%= render partial: "shared/link_button", locals: {text: "Preview Form", path: production_call_to_audition_preview_path(@production, call_to_audition)} %>
            </div>
          </div>

        </div>

        <div class="p-4 pb-6 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
          <h2 class="font-bold text-lg col-span-1 mb-2">Audition Requests</h2>
          <div class="grid grid-cols-2 gap-2 mb-4">
            <%= link_to production_call_to_audition_audition_requests_path(@production, call_to_audition, status: :unreviewed) do %>
              <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all min-h-24">
                <p class="font-bold text-5xl text-center"><%= call_to_audition.counts[:unreviewed] %></p>
                <p class="text-xs text-center">Unreviewed</p>
              </div>
            <% end %>
            <%= link_to production_call_to_audition_audition_requests_path(@production, call_to_audition, status: :undecided) do %>
              <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all min-h-24">
                <p class="font-bold text-5xl text-center"><%= call_to_audition.counts[:undecided] %></p>
                <p class="text-xs text-center">Undecided</p>
              </div>
            <% end %>
            <%= link_to production_call_to_audition_audition_requests_path(@production, call_to_audition, status: :accepted) do %>
              <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all min-h-24">
                <p class="font-bold text-5xl text-center"><%= call_to_audition.counts[:accepted] %></p>
                <p class="text-xs text-center">Accepted</p>
              </div>
            <% end %>
            <%= link_to production_call_to_audition_audition_requests_path(@production, call_to_audition, status: :passed) do %>
              <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all min-h-24">
                <p class="font-bold text-5xl text-center"><%= call_to_audition.counts[:passed] %></p>
                <p class="text-xs text-center">Passed</p>
              </div>
            <% end %>
          </div>
          <%= render partial: "shared/link_button", locals: {text: "View all Audition Requests", path: production_call_to_audition_audition_requests_path(@production, call_to_audition)} %>
        </div>

      </div>
    </div>
    <div class="w-full mt-10">
      <h1 class="font-bold text-2xl mb-2">Auditions</h1>
      <div class="grid grid-cols-1">
        <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
          <div class="grid grid-cols-1 gap-2 mb-4">
            <%= link_to production_audition_sessions_path(@production) do %>
              <% @production.audition_sessions.each do |session| %>
                <div class="p-3 mb-2 border border-gray-200 rounded-lg hover:border-gray-400 transition-all grid grid-cols-3 items-center">
                  <p class="text-md col-span-2"><%= session.start_at.strftime("%-m/%-d/%Y at %-l:%M %p") %></p>
                  <p class="font-bold text-2xl text-right"><%= "x/#{session.maximum_auditionees}" %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= render partial: "shared/link_button", locals: {text: "+ Schedule an Audition Session", path: new_production_audition_session_path(@production)} %>
        </div>

      </div>
    <% end %>
  </div>
</div>
