<div>
  <h1 class="font-bold text-4xl">Showtime</h1>
  <p><%= link_to "Production Companies", production_companies_path, class: "text-blue-500 hover:underline" %></p>
  <p><%= link_to "Productions", productions_path, class: "text-blue-500 hover:underline" %></p>
  <p><%= link_to "Casts", casts_path, class: "text-blue-500 hover:underline" %></p>
  <p><%= link_to "Cast Members", cast_members_path, class: "text-blue-500 hover:underline" %></p>
  <p><%= link_to "Cast Roles", cast_roles_path, class: "text-blue-500 hover:underline" %></p>
  <p><%= link_to "People", people_path, class: "text-blue-500 hover:underline" %></p>
  <p><%= link_to "Auditions", auditions_path, class: "text-blue-500 hover:underline" %></p>
  <p><%= link_to "Show Cast Assignments", show_cast_assignments_path, class: "text-blue-500 hover:underline" %></p>

</div>
