<% content_for :title, "Audition Requests" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)]
    ],
    text: "Audition Requests",
    links: [
      {
        text: "+ Manually Request an Audition",
        path: new_production_call_to_audition_audition_request_path(@production, @call_to_audition)
      }
    ]
  } %>

  <div class="grid grid-cols-1 gap-2 mb-4">
    <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
      <p class="text-xs mb-1">9/18/2025 at 6:00 PM</p>
      <p class="font-bold text-xl">7 auditionees</p>
    </div>
    <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
      <p class="text-xs mb-1">9/18/2025 at 7:00 PM</p>
      <p class="font-bold text-xl">2 auditionees</p>
    </div>
    <div class="p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
      <p class="text-xs mb-1">9/18/2025 at 8:00 PM</p>
      <p class="font-bold text-xl">0 auditionees</p>
    </div>
  </div>


  <div id="audition_requests" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @audition_requests.any? %>
      <% @audition_requests.each do |audition_request| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render audition_request %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", audition_request, class: "w-full sm:w-auto text-center rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Edit", edit_audition_request_path(audition_request), class: "w-full sm:w-auto text-center rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= button_to "Destroy", audition_request, method: :delete, class: "w-full sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No audition requests found.</p>
    <% end %>
  </div>
</div>
