<% content_for :title, "Audition Requests" %>
<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)]
    ],
    text: "Audition Requests",
    links: [
      {
        text: "+ Manually Request an Audition",
        path: new_production_call_to_audition_audition_request_path(@production, @call_to_audition)
      }
    ]
  } %>

  <div class="flex mb-4 items-center">
    <p>
      Filter:
    </p>
    <div class="flex gap-1 ml-2">
      <% ["All", "Unreviewed", "Undecided", "Accepted", "Passed"].each do |status| %>
        <% status_param = status.downcase == "all" ? nil : status.downcase %>
        <%= link_to status, production_call_to_audition_audition_requests_path(@production, @call_to_audition, status: status_param), class: "px-4 py-2 rounded-lg border border-gray-200 hover:bg-gray-100 #{'bg-pink-500 text-white hover:text-black' if params[:status] == status_param || (params[:status].blank? && status_param.nil?)}" %>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-2 mb-4">
    <% if @audition_requests.any? %>
      <% @audition_requests.each do |audition_request| %>
        <div class="flex w-full p-4 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
          <%= link_to production_call_to_audition_audition_request_path(@production, @call_to_audition, audition_request), class: "flex items-center gap-4 mr-auto", data: { turbo_prefetch: false } do %>
            <div class="grid place-items-left grid-cols-[auto_1fr] gap-4 mr-auto">
              <div class="grid place-items-center">
                <% if audition_request.person.headshot.attached? %>
                  <%= image_tag url_for(audition_request.person.headshot.variant(:thumb)), class: "relative inline-block h-12 w-12 !rounded-lg  object-cover object-center" %>
                <% else %>
                  <div class="relative inline-block h-12 w-12 rounded-full bg-gray-200">
                    <svg class="absolute left-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                    </svg>
                  </div>
                <% end %>
              </div>
              <div>
                <h6 class="font-medium text-xl">
                  <%= truncate(audition_request.person.stage_name, length: 50, omission: "...") %>
                  <% if audition_request.person.pronouns.present? %>
                    <span class="text-sm font-normal text-gray-500">
                      (<%= audition_request.person.pronouns %>)
                    </span>
                  <% end %>
                </h6>
                <p class="text-slate-500 text-sm">
                  <%= audition_request.person.email %>
                </p>
              </div>
            </div>
          <% end %>
          <div class="grid grid-cols-4 gap-0 ml-auto">
            <%
              [:unreviewed, :undecided, :accepted, :passed].each do |status|
                classes = "text-md px-5 py-2.5 text-center border border-gray-200"

                # Set the borders based on position in the list of statuses
                if status == :unreviewed
                  classes += " rounded-l-lg"
                elsif status == :undecided
                  classes += " border-l-0"
                elsif status == :accepted
                  classes += " border-l-0"
                elsif status == :passed
                  classes += " rounded-r-lg"
                end

                # Set the background color based on status
                if audition_request.status == status.to_s
                  classes += " bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 text-white"
                end
            %>
            <%= link_to status.capitalize, production_call_to_audition_audition_request_set_status_path(@production, @call_to_audition, audition_request, status: status), class: classes, data: { turbo_method: :post } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>

    <p class="my-5">
      <% if params[:status].blank? %>
        No one has applied for an audition yet.
      <% elsif params[:status] == "unreviewed" %>
        You have no unreviewed audition requests.
      <% elsif params[:status] == "undecided" %>
        You have no undecided audition requests.
      <% elsif params[:status] == "accepted" %>
        You haven't accepted any audition requests.
      <% elsif params[:status] == "passed" %>
        You haven't passed on any audition requests.
      <% end %>
    </p>
  <% end %>
</div>
