<% content_for :title, "Audition Requests" %>
<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)],
      ["Audition Requests", production_call_to_audition_audition_requests_path(@production, @call_to_audition)]
    ],
    text: @audition_request.person.stage_name,
    links: []
  } %>
  <div id="<%= dom_id @audition_request %>" class="w-full sm:w-auto my-5 space-y-5">
    <div class="flex flex-col sm:flex-row w-full gap-6">
      <div class="w-full sm:w-[60%] bg-black">
        <% if @person.resume.attached? %>
          <embed src="<%= url_for(@person.resume) %>" type="application/pdf" width="100%" height="600px" />
        <% end %>
      </div>
      <div class="w-full sm:w-[40%] flex flex-col">
        <% if @person.headshot.attached? %>
          <%= image_tag url_for(@person.headshot), class: "relative inline-block max-w-64" %>
        <% else %>
          <div class="relative inline-block h-12 w-12 rounded-full bg-gray-200">
            <svg class="absolute left-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
          </div>
        <% end %>
        <div class="text-4xl font-bold mt-3"><%= @person.stage_name %></div>
        <div class="text-sm text-gray-400 mb-1">(<%= @person.pronouns %>)</div>
        <div class="text-md"><%= mail_to @person.email %></div>
        <div class="text-md"><%= @person.socials %></div>

        <% if @answers.any? %>
          <% @answers.each do |answer| %>
            <div class="p-2 border border-gray-200 rounded-lg hover:border-gray-400 transition-all mt-2">
              <div class="text-md"><%= answer.question.text %></div>
              <div class="text-md font-medium">
                <% if answer.question.question_type == "yesno" %>
                  <%= answer.value.capitalize %>
                <% else %>
                  <%= answer.value %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

    </div>
  </div>
</div>

<div class="fixed bottom-0 left-0 h-24 w-full bg-white text-pink-500 p-3 shadow-[0_-5px_10px_rgba(0,0,0,0.3)]">

    <div class="grid grid-cols-4 gap-0">

      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
        <p class="text-left text-xs">
          Previous
        </p>
      </div>

      <div class="grid grid-cols-3 gap-2 col-span-2 pt-2 items-center content-center">
        <%
          [:undecided, :accepted, :passed].each do |status|
            classes = "text-lg font-bold px-5 py-2.5 text-center border rounded-lg border-gray-200 bg-white text-pink-500"

            # Set the background color based on status
            if @audition_request.status == status.to_s
              classes += " bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 text-white"
            end
        %>
          <%= link_to status.capitalize, production_call_to_audition_audition_request_set_status_path(@production, @call_to_audition, @audition_request, status: status), class: classes, data: { turbo_method: :post } %>
        <% end %>
      </div>

      <div class="ml-auto align-right">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
        <p class="text-center text-xs">
          Next
        </p>
      </div>
    </div>

</div>