<% content_for :title, "Audition Requests" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)],
      ["Audition Requests", production_call_to_audition_audition_requests_path(@production, @call_to_audition)]
    ],
    text: @audition_request.person.stage_name,
    links: []
  } %>

  <%= render @audition_request %>

  <%= link_to "Edit", edit_audition_request_path(@audition_request), class: "w-full sm:w-auto text-center rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= button_to "Delete", @audition_request, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-lg px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
