<div id="<%= dom_id call_to_audition %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <span class="text-xl font-bold"><%= link_to call_to_audition.production.name, call_to_audition %></span>
    <span class="">(<%= call_to_audition.hex_code %>)</span>
  </div>
  <div>
    <span>Opens: </span>
    <span><%= call_to_audition.opens_at %></span>
  </div>
  <div>
    <span>Closes:</span>
    <span><%= call_to_audition.closes_at %></span>
  </div>
  <div>
    <span>Header Text: </span>
    <span><%= call_to_audition.header_text %></span>
  </div>
  <div>
    <span>Use built-in Person System:</span>
    <span><%= call_to_audition.use_person_object %></span>
  </div>

</div>
