<%= form_with(model: [@production, call_to_audition], class: "contents") do |form| %>
  <% if call_to_audition.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(call_to_audition.errors.count, "error") %> prohibited this call_to_audition from being saved:</h2>

      <ul class="list-disc ml-6">
        <% call_to_audition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full">
      <h1 class="font-bold text-2xl">Dates</h1>
      <p class="text-sm text-gray-500">When should this Call to Audition open and close? While it&apos;s open, members of the public will be able to request an audition.</p>
  </div>

  <div class="flex border-b-1 border-gray-200 mb-5">

    <div class="my-5 w-1/2 mr-5">
      <%= form.label :opens_at, "Open At:" %>
      <%= form.datetime_field :opens_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": call_to_audition.errors[:opens_at].none?, "border-red-400 focus:outline-red-600": call_to_audition.errors[:opens_at].any?}] %>
    </div>

    <div class="my-5 w-1/2 ml-5">
      <%= form.label :closes_at, "Close At:" %>
      <%= form.datetime_field :closes_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": call_to_audition.errors[:closes_at].none?, "border-red-400 focus:outline-red-600": call_to_audition.errors[:closes_at].any?}] %>
    </div>

  </div>


  <div class="w-full">
      <h1 class="font-bold text-2xl">Sign-up Form</h1>
      <p class="text-sm text-gray-500">You can customize the sign-up form to personalize it to your production.</p>
  </div>

  <div class="my-5">
    <%= form.label :header_text, "Header Text:" %>
    <%= form.text_area :header_text, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": call_to_audition.errors[:header_text].none?, "border-red-400 focus:outline-red-600": call_to_audition.errors[:header_text].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :header_text, "Success Text:" %>
    <%= form.text_area :success_text, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": call_to_audition.errors[:success_text].none?, "border-red-400 focus:outline-red-600": call_to_audition.errors[:success_text].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label "Use built-in Person system" %>
    <%= form.check_box :use_person_object %>
  </div>

  <div class="inline">
    <% text = call_to_audition.new_record? ? "Open" : "Update" %>
    <%= form.submit text, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
