<% content_for :title, "Edit Show: #{@show.date_and_time.strftime("%A, %B %-d, %Y")}" %>

<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
       ["Shows", production_shows_path(@production)]
    ],
    text: "Edit Show: #{@show.date_and_time.strftime("%A, %B %-d, %Y")}",
    links: []
  } %>

<%= form_with(model: [@production, @show], class: "contents") do |form| %>
<% if @show.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul class="list-disc ml-6">
        <% @show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :date_and_time %>
    <%= form.datetime_field :date_and_time, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @show.errors[:date_and_time].none?, "border-red-400 focus:outline-red-600": @show.errors[:date_and_time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :secondary_name %>
    <%= form.text_field :secondary_name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @show.errors[:secondary_name].none?, "border-red-400 focus:outline-red-600": @show.errors[:secondary_name].any?}] %>
  </div>

  <div class="w-full border-t border-gray-200 pt-5 my-5">
    <%= form.submit "Update Show", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800inline-block font-medium cursor-pointer inline-block" %>
    <%= link_to "Back", 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>

<% end %>


</div>
