<%= form_with(model: show_cast_assignment, class: "contents") do |form| %>
  <% if show_cast_assignment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(show_cast_assignment.errors.count, "error") %> prohibited this show_cast_assignment from being saved:</h2>

      <ul class="list-disc ml-6">
        <% show_cast_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :show %>
    <%= form.collection_select :show_id, Show.all, :id, :display_name, prompt: "Select a Show" %>
  </div>

  <div class="my-5">
    <%= form.label :role %>
    <%= form.collection_select :cast_role_id, CastRole.all, :id, :name, prompt: "Select a Role" %>
  </div>

  <div class="my-5">
    <%= form.label :person %>
    <%= form.collection_select :person_id, Person.all, :id, :display_name, prompt: "Select a Person" %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
