<% content_for :title, "Casting" %>

<div class="w-full">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Casting", production_casts_path(@production)]
    ],
    text: "Add a Cast",
    links: []
  } %>

  <%= form_with(model: [@production, @cast], class: "contents") do |form| %>

    <div class="my-5">
        <% if @cast.errors[:name].none? %>
            <%= form.label :name, "Cast Name" %>
        <% else %>
            <%= form.label :name, "Cast Name is required", class: "text-pink-600"  %>
        <% end %>
      <span class="text-sm text-gray-500"> (e.g. "Main Cast", "Understudies")</span>
     <%= form.text_field :name, class: ["block shadow-sm rounded-lg border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-pink-500": @cast.errors[:name].none?, "border-pink-500 focus:outline-pink-500": @cast.errors[:name].any?}] %>
    </div>

    <div class="w-full border-t border-gray-200 pt-5 my-5">
      <%= form.submit "Add Cast", class: "sm:w-auto rounded-lg px-3.5 py-2.5 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800inline-block font-medium cursor-pointer inline-block" %>
      <%= link_to "Back", 'javascript:history.back()', class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>

  <% end %>


</div>
